.main{
   display: flex;
   width: 50%;
   background-color: rgb(225, 250, 176);
}
. profile section {
   width: 50;
}
.container{
   display:flex;
   justify-content: center;
   flex-direction: column;
}
.container div {
   background-color: greenyellow;
   min-width: 50px;
}

.nav{
   width: 20%;
   inline-size: auto;
}